@import "tailwindcss";

@theme {
  /* Usando tu paleta exacta */
  --color-alianza-azul: #004a99;
  --color-alianza-amarillo: #ffcc00;
  --color-alianza-rosa: #ffb6c1;
  --color-fondo-claro: #fdf6e3;
  --color-azul-fondo: #eef2f7;
}

@layer base {
  body {
    @apply bg-azul-fondo text-gray-800 font-sans;
  }
}